<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${disc}">
    <div class="form-group">
        <label th:for="brand">Brand</label>
        <input class="form-control" th:field="*{brand}" />
        <span th:errors="*{brand}" style="color:red" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" style="color:red" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="clubType">Club Type</label>
        <select th:field="*{clubType}">
            <option th:each="clubType : ${clubTypes}"
                    th:text="${clubType.name}"
                    th:value="${clubType}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="weight">Weight</label>
        <input class="form-control" th:field="*{weight}" />
        <span th:errors="*{weight}" style="color:red" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="color">Color</label>
        <input class="form-control" th:field="*{color}" />
        <span th:errors="*{color}" style="color:red" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="plastic">Plastic</label>
        <input class="form-control" th:field="*{plastic}" />
        <span th:errors="*{plastic}" style="color:red" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" style="color:red" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="speed">Speed</label>
        <input class="form-control" th:field="*{speed}" />
        <span th:errors="*{speed}" style="color:red" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="glide">Glide</label>
        <input class="form-control" th:field="*{glide}" />
        <span th:errors="*{glide}" style="color:red" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="turn">Turn</label>
        <input class="form-control" th:field="*{turn}" />
        <span th:errors="*{turn}" style="color:red" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="fade">Fade</label>
        <input class="form-control" th:field="*{fade}" />
        <span th:errors="*{fade}" style="color:red" class="error"></span>
    </div>

    <input type="submit" value="Add Disc" />
</form>

</body>
</html>