<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div class="container body-content">
    <div>
        <div th:object="${disc}">

            <div>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <td th:text="*{name}"></td>
                    </tr>
                    <tr>
                        <th>Brand</th>
                        <td th:text="*{brand}"></td>
                    </tr>
                    <tr>
                        <th>Club Type</th>
                        <td th:text="*{clubType.clubName}"></td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td th:text="*{weight}"></td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td th:text="*{color}"></td>
                    </tr>
                    <tr>
                        <th>Plastic</th>
                        <td th:text="*{plastic}"></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td th:text="*{description}"></td>
                    </tr>
                    <tr>
                        <th>Speed</th>
                        <td th:text="*{speed.value}"></td>
                    </tr>
                    <tr>
                        <th>Glide</th>
                        <td th:text="*{glide.value}"></td>
                    </tr>
                    <tr>
                        <th>Turn</th>
                        <td th:text="*{turn.value}"></td>
                    </tr>
                    <tr>
                        <th>Fade</th>
                        <td th:text="*{fade.value}"></td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

</div>


<img src="data:image/jpg;base64,${book.base64Image}" width="240" height="300"/>

</body>
</html>