<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">></head>

<body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <p th:unless="${discs} and ${discs.size()}">no discs :(</p>

        <div class="row">
            <div th:each="disc : ${discs}" class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71gaq1NcsBL._SX466_.jpg"/>
                    <div class="caption">
                        <h5 th:text="${disc.brand}"></h5>
                        <h2 th:text="${disc.name}"></h2>
                        <a th:href="@{'/flip/disc?id=' + ${disc.id}}"><p>DETAILS</p></a>
                        <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a></p>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>