<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1><span th:text="${user.username}"></span></h1>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<nav>
    <h1><a type="button" class="btn btn-primary btn-lg btn-block" href="/flip/add">Add Disc</a></h1>
</nav>

<div class="row">
    <div th:each="disc : ${discs}" class="col-sm-5 col-md-3">
        <div class="thumbnail">
            <img src="http://www.gottagogottathrow.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/i/n/inle-17hal-st-3roc-org-temp.jpg" />
            <div class="caption">
                <h3 th:text="${disc.brand}"></h3>
                <h2 th:text="${disc.name}"></h2>
                    <a th:href="@{'/flip/disc?id=' + ${disc.id}}" type="button" class="btn btn-info">DETAILS</a>
                    <a th:href="@{'/flip/edit?id='+ ${disc.id}}" type="button" class="btn btn-warning">EDIT</a>
                    <a type="button" class="btn btn-danger">DELETE</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>


