<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<h1>Welcome, <span th:text="${user.username}"></span></h1>

<nav>
    <h1><a href="/flip/add">Add</a></h1>
</nav>

<div class="row">
    <div th:each="disc : ${discs}" class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.gottagogottathrow.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/i/n/inle-17hal-st-3roc-org-temp.jpg" />
            <div class="caption">
                <h5 th:text="${disc.brand}"></h5>
                <h2 th:text="${disc.name}"></h2>
                <a th:href="@{'/flip/disc?id=' + ${disc.id}}"><p>DETAILS</p></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>


