body{
    background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=2ahUKEwjojeegxOXcAhXC61MKHZNXD0EQjRx6BAgBEAU&url=https%3A%2F%2Fwww.innovadiscs.com%2Fcourse-development%2F&psig=AOvVaw2IQ2aTgLCFHRB4IvKuu8GK&ust=1534095241572629");
    background-repeat: no-repeat;
    background-attachment: fixed;
}