body.container{
    background-image: url('https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Hubble-HD-Background-1920x1080-PIC-WPD003227.jpeg');
    background-attachment: fixed;
}

h1,label,h4,th,td{
   color: white;
}

p.controls{
    font-family: bold, fantasy;
    font-size: large;
    font-color: Blue;
}

a.navText{
    font-size: x-large;
}

