<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/special.css}" rel="stylesheet" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


<nav th:fragment="navigation" class="navbar fixed-top navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li><a class="navbar-brand navText" href="/flip">FLIP</a></li>
            <li>
                <form class="form-inline" th:object="${searchForm}" action="/flip">
                    <input  th:field="*{keyword}" th:value="*{keyword}" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:unless="${user==null}" href="/user/home" class="navText" th:text="${user.username}">Profile</a></li>
            <li><a th:if="${user==null}" href="/user/login" class="navText">Login</a></li>
            <li><a th:if="${user==null}" href="/user/signUp" class="navText">Sign Up</a></li>
            <li><a th:unless="${user==null}" href="/user/logout" class="navText">Logout</a></li>
        </ul>
    </div>
</nav>

</body>
</html>