<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav th:fragment="navigation" class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/flip">FLIP</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">LOST AND FOUND</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:unless="${user==null}" href="/user/home">Profile</a></li>
                <li><a th:if="${user==null}" href="/user/login">Login</a></li>
                <li><a th:if="${user==null}" href="/user/signUp">Sign Up</a></li>
                <li><a th:unless="${user==null}" href="/user/logout">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
</body>
</html>